<ul> Great video clips from some older movies
 <!--  <li><a href="http://localhost:3000/videos/butterflyeffect">Butterfly Effect</a></li>
  <li><a href="http://localhost:3000/videos/jaws">Jaws</a></li>
  <li><a href="http://localhost:3000/videos/matrix">Matrix</a></li>
  <! <li><a href="http://localhost:3000/videos/topgun">Top Gun</a></li> -->
 <li><%= link_to "Gladiator",  "/videos/gladiator" %></li>
  




 
  
  <%# link_to "<display_text>", "<the_url>" %>
</ul>